asgiref
crispy-bootstrap5
dj-database-url
dj-email-url
Django
djangorestframework
django-cors-headers
django-allauth
django-cache-url
django-crispy-forms
environs[django]
gunicorn
marshmallow
psycopg
psycopg2-binary
python-dotenv
pytz
sqlparse
whitenoise
fontawesome-free
django-phonenumber-field
phonenumbers
django-js-asset
django-ckeditor
pillow
pywatchman
django-browser-reload
django-debug-toolbar
django-extensions
django-cities-light
django-check-seo